*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

html{
    font-size: 62.5%
}

:root
{
    background-color: #e2eeff;
}

.logo-text{
    font-family: 'Tektur', cursive; 
}


.header-text {
    font-family: 'Neucha', cursive;
    font-size: 250%;
}

.normal-text {
    font-family: 'Tenor Sans', sans-serif;
}

